@tailwind base;
@tailwind components;
@tailwind utilities;

/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this line to import the core Material theme! */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.mdc-notched-outline__leading {
  border-right: none !important;
}

.mdc-notched-outline__notch {
  border-left: none !important;
  border-right: none !important;
}

.mdc-notched-outline__trailing {
  border-left: none !important;
}
